.conteinerCatalogSelect{
  width: 844px;
}

/* first section */



.CatalogSelect{
  margin-bottom: 25px;
}


.ArendaInnerTextcatalogSelect{
  margin-bottom: 30px;
}

.allCatalogselect{
  margin-bottom: 20px;
}

/* categories */

.categories{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.btnsarrows.btnsarrows2{
  display: none;
}

.adressInfoKataloSelect{
  padding: 10px 16px;
  background: rgba(102, 78, 249, 0.1);
  border-radius: 18px;
  width: max-content;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #664EF9;
}

/* main */

.main{
  display: flex;
  justify-content: center;
}

.imgCatalogSelect{
  margin-top: -44px;
  width: 844px;
  height: 563px;
  filter: drop-shadow(0px 20px 40px rgba(39, 95, 158, 0.1));
  border-radius: 10px;
  margin-bottom: 40px;
}

/* 2 Division Givemeall */

.Givemeall{
  display: flex;
  align-items: center;
}

.textPodelitsya{
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #1E2123;
  margin-right: 15px;
}

.iconsoccatalogselect{
  margin-right: 20px;
  cursor: pointer;
}

.iconsoccatalogselect__hover{
  transition: .2s fill linear;
}

.iconsoccatalogselect:hover .iconsoccatalogselect__hover{
  fill:#664EF9;
  transition: .2s fill linear;
}

.iconsoccatalogselect:last-child{
  margin-right: 0 ;
}

/* last section */

.last{
  margin-top: 0;
  height: 737px;
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

@media(max-width:1325px){
  .ArendaSecTextcatalogSelect{
    text-align: center;
  }
}
@media(max-width:1150px){
  .conteinerCatalogSelect{
    width:728px;
  }

  .imgCatalogSelect{
    width:728px;
  }
}

@media(max-width:768px){
  .CatalogSelect{
    justify-content: center;
  }
  .ArendaInnerTextcatalogSelect{
    font-size: 14px;
    text-align: center;
    line-height: 30px;
  }
  .adressInfoKataloSelect{
    margin-bottom: 30px;
  }
  .categories{
    justify-content: center;
  }
  .conteinerCatalogSelect{
    width:460px;
  }
  .imgCatalogSelect{
    width:460px;
    height: 480px;
  }
}

@media(max-width:480px){
  .conteinerCatalogSelect{
    width:280px;
  }

  .imgCatalogSelect{
    width: 280px !important;
    height: 320px !important;
  }
  .breadcrumbs.CatalogSelect{
    flex-direction: column;
  }

  .descriptionCatalogSelect{
    text-align: center;
  }
}