name: Test Chat

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Test using Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 16.18.0
      - run: cd my-project
      - run: npm install
      - run: npm test
