/* section 2(1)*/
.CardsFavourites{
  display: flex;
  justify-content: center;
}

.FavouritesMain{
  display: flex;
  justify-content: space-between;
  min-height: 430px;
  flex-wrap: wrap;
}

.Soobshenie{
  display: flex;
  align-items: center;
}

.iconSoobshenie{
  fill: rgba(235, 87, 87, 0.4);
  animation: breathing 4s linear alternate infinite ;
  transition: .2s fill linear;
  cursor: pointer;
}

.iconSoobshenie:hover{
  fill: rgba(235, 87, 87, 1);
  transition: .2s fill linear;
  animation: breathing 2s linear alternate infinite ;
}


@-webkit-keyframes breathing {
  0% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }

  25% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  60% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }

  100% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

@keyframes breathing {
  0% {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
  }

  25% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  60% {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
  }

  100% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
}


@keyframes active {

  100%{
    fill: rgba(235, 87, 87, 1);
  }
  0%{
    fill: rgba(235, 87, 87, 0.7);
  }
}

@media(max-width:768px){
  .FavouritesMain{
    justify-content: center !important;
  }
}